/* poll form */
form.poll ul {list-style: none}
form.poll li {margin: 0; padding: 0}
form.poll label {margin-left: 0.5em}

/* results */
ul.poll_results {list-style: none}

/* display percentage bar after the label */
ul.poll_results li {margin: 0; padding: 0;}
div.poll_results {}
div.poll_bar {background: green; margin: 5px 0 10px 0; height: 9px}

/* display percentage bar underneath the label */
/*
ul.poll_results li {margin: 5px 0 10px 0; padding: 0; position: relative;}
div.poll_results {position: relative; z-index: 1; height: 1.3em}
div.poll_bar {position: absolute; top: 0; background: #aaa; height: 1.3em}
*/

/* back-end */
#poll_admin {}

#poll_edit fieldset {padding: 1em}

#poll_general label {float: left; width: 10em}
#poll_general input {width: 7em}
#poll_general br {clear: both}

#poll_toolbar {margin-bottom: 1em}

/*div.poll_option {padding: 0.2em; background: blue; display: table-row}*/
/*div.poll_option input {padding: 0.2em; background: blue; display:table-cell}*/
div.poll_selected input {border: 2px solid green}
input.poll_option {width: 20em}
input.poll_count {width: 3em; text-align: right}

img.poll_plugin_icon {display: block; float: left; margin: 0 10px 10px 0}
p.poll_license {clear: both; text-align: justify}
