/*
 * voting form
 */
.poll_option {
    display: block;
    margin: 0.5em 0;
}

/* 
 *results 
 */
.poll_result {
    margin: 1em 0;
}
.poll_bar {
    background: green;
    margin: 5px 0 10px 0;
    height: 9px;
}

/* back-end */
#poll_admin {}
img.poll_logo {
    float: left;
    margin: 0 1.5em 0.5em 0;
}
p.poll_license {
    text-align: justify;
}
